---
import '../styles/globals.scss';
import '../styles/index.scss';
import github from '/github.png';
import linkedin from '/linkedin.png';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <div class="nombre">
          <span>N</span><span>ICO</span>
        </div>
        <div class="apellido">
          <span>M</span><span>OYANO</span>
        </div>
      </div>
      <div class="title"></div>
      <div class="menu-btn">&lt;-</div>
    </nav>
    <div class="icons">
      <a href="https://github.com/nicomoyano" target="_blank">
        <img src={github} />
      </a>
      <a
        href="https://www.linkedin.com/in/nicolas-moyano-893080243/"
        target="_blank"
      >
        <img src={linkedin} />
      </a>
    </div>
    <div class="menu">
      <ul>
        <li>INFORMACION</li>
        <li>PROYECTOS</li>
        <li>CONTACTO</li>
      </ul>
    </div>
    <!-- <div class="sidebar"></div> -->
  </body>
</html>

<script>
  const menuBtn = document.querySelector('.menu-btn');
  const links = document.querySelectorAll('li');
  const logo = document.querySelector('.logo');
  const menu = document.querySelector('.menu');
  const title = document.querySelector('.title');

  let menuIsOpen = false;
  let opening = false;

  setTimeout(() => {
    handleMenu();
  }, 1000);

  const handleMenu = () => {
    if (!opening) {
      opening = true;
      menuIsOpen = !menuIsOpen;
      menu?.classList.toggle('opened');
      menuBtn?.classList.toggle('opened');
      if (menuIsOpen) {
        logo?.classList.add('opened');
      }
      setTimeout(() => {
        opening = false;
      }, 500);
    }
  };

  menuBtn?.addEventListener('click', handleMenu);
  links.forEach((link) => {
    link.addEventListener('click', () => {
      handleMenu();
      title!.innerHTML = link.innerHTML;
    });
  });
</script>
