---
import "../styles/globals.scss";
import "../styles/index.scss";
import github from "/github.png";
import linkedin from "/linkedin.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="nombre">
          <span>N</span><span>ICO</span>
        </div>
        <div class="apellido">
          <span>M</span><span>OYANO</span>
        </div>
      </div>
      <div class="title"></div>
      <div class="menu-btn">&lt;-</div>
    </header>
    <!-- <div class="icons">
      <a href="https://github.com/nicomoyano" target="_blank">
        <img src={github} />
      </a>
      <a
        href="https://www.linkedin.com/in/nicolas-moyano-893080243/"
        target="_blank"
      >
        <img src={linkedin} />
      </a>
    </div> -->
    <nav>
      <ul>
        <li>INFORMACION</li>
        <li>PROYECTOS</li>
        <li>CONTACTO</li>
      </ul>
    </nav>
    <main>
      <section class="informacion active">
        <h2>Informacion</h2>
      </section>
      <section class="proyectos">
        <h2>Proyectos</h2>
      </section>
      <section class="contacto">
        <h2>Contacto</h2>
      </section>
    </main>
  </body>
</html>

<script>
  const menuBtn = document.querySelector(".menu-btn");
  const infoBtn = document.querySelector("li:nth-child(1)");
  const proyectosBtn = document.querySelector("li:nth-child(2)");
  const contactoBtn = document.querySelector("li:nth-child(3)");
  const logo = document.querySelector(".logo");
  const menu = document.querySelector("nav");
  const title = document.querySelector(".title");

  let menuIsOpen = false;
  let opening = false;

  const handleMenu = () => {
    if (!opening) {
      opening = true;
      menuIsOpen = !menuIsOpen;
      menu?.classList.toggle("opened");
      menuBtn?.classList.toggle("opened");
      if (menuIsOpen) {
        logo?.classList.add("opened");
      }
      setTimeout(() => {
        opening = false;
      }, 500);
    }
  };

  menuBtn?.addEventListener("click", handleMenu);

  infoBtn?.addEventListener("click", () => {
    handleMenu();
    title!.innerHTML = infoBtn.innerHTML;
  });

  proyectosBtn?.addEventListener("click", () => {
    handleMenu();
    title!.innerHTML = proyectosBtn.innerHTML;
  });

  contactoBtn?.addEventListener("click", () => {
    handleMenu();
    title!.innerHTML = contactoBtn.innerHTML;
  });
</script>
